body {
    background: linear-gradient(to right, white, grey);
}

h1 {
    text-align: center;
    color: saddlebrown;
    font-style: normal;
    font-size: 100px;
}

p {
    font-size: 30px;
}

.bottomOfPage {
    background-color: darkslategray;
    text-align: center;
    color: sandybrown;
    font-size: 40px;
    height: 60px;
}
