* {
    font-family: "Roboto", Arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4.5em;
    font-family: Zeyada;
    font-weight: 600;
}

.break-site-into-two {
    background-color: rgb(220,220,220);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-section-start {
    display: flex;
    align-items: center;
    height: calc(100vh + 60px);
    justify-content: center;
    color: rgb(248,240,251);
    font-size: 15vw;
    font-weight: 900;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/lewy.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(202,213,202);
    padding-top: 60px; /* add padding to compensate for negative margin */
    padding-bottom: 160px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: -60px; /* negative margin equal to header height */
    border-color: #F8F0FB;
    border-width: 14px;
    border-style: solid;
}

.about-me-intro {
}

.about-me-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.about-me-picture {
}

.about-me-picture img {
    width: 300px;
    border: 15px groove rgb(128, 128, 128, 0.2);
    border-radius: 50%;
    margin-right: 10px;
    order: 1;
    object-fit: cover;
}

.about-me-text {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    order: 2;
    font-size: 1.2em;
}

/* media query for small screens */
@media (max-width: 600px) {
    .about-me-content {
        flex-direction: column;
    }

    .about-me-picture {
        order: 1;
        margin-bottom: 10px;
    }

    .about-me-text {
        order: 2;
    }
}

.contact-section {
    border-color: #F8F0FB;
    border-width: 14px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    background-color: rgb(202,213,202);
    padding-top: 40px;
}

.contact-section-intro {
    text-align: center;
}

.contact-form {
    margin: 0 auto;
    max-width: 420px;
    border: 6px groove rgba(33,26,29, 0.6);
    margin-bottom: 22px;
    padding: 16px;
    background-color: #F8F0FB;
    border-radius: 22px;
}

.contact-section input, .contact-section textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 16px;
    outline: none;
    border: 1px solid black;
}

.contact-submit-button {
    background-color: rgb(99, 32, 238);
    border: 1px solid black;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

    .contact-submit-button:hover {
        background-color: rgb(30, 12, 140);
        color: white;
    }



.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33,26,29);
    color: rgb(248,240,251);
    height: 10vh;
    padding: 2px;
    font-size: 1em;
    z-index: 2;
}





/*animated scroll arrow*/
.arrow {
    position: absolute;
    top: 100%;
    left: 50%;
}
.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
    margin: -1em;
    animation: animate1 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}
@keyframes animate1 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-60px, -60px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
} 