* {
    font-family: "Roboto", Arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.break-site-into-two {
    background-color: rgb(220,220,220);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-section-start {
    display: flex;
    align-items: center;
    height: calc(100vh + 60px);
    justify-content: center;
    color: rgb(248,240,251);
    font-size: 15vw;
    font-weight: 900;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/lewy.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}


.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(202,213,202);
    border: 20px 0 20px 0;
    border: groove;
    border-color: rgb(128, 128, 128, 0.2);
    padding-bottom: 150px;
    padding-left: 1vw;
    margin-top: -60px; /* negative margin equal to header height */
    padding-top: 60px; /* add padding to compensate for negative margin */
}

.about-me-intro {
    font-size: 5vh;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.about-me-picture img {
    width: 300px;
    border: 15px groove rgb(128, 128, 128, 0.2);
    border-radius: 50%;
    margin-right: 10px;
    order: 1;
}

.about-me-text {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    order: 2;
}

/* media query for small screens */
@media (max-width: 600px) {
    .about-me-content {
        flex-direction: column;
    }

    .about-me-picture {
        order: 1;
        margin-bottom: 10px;
    }

    .about-me-text {
        order: 2;
    }
}



.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33,26,29);
    color: rgb(248,240,251);
    height: 10vh;
    padding: 2px 2px 2px 2px;
}





/*animated scroll arrow*/

.arrow {
    position: absolute;
    top: 100%;
    left: 50%;
}
.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
    margin: -1em;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-60px, -60px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

