* {
    font-family: "Roboto", Arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.break-site-into-two {
    background-color: rgb(220,220,220);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-section-start {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    color: white;
    font-size: 15vw;
    font-weight: 900;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/lewy.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 140, 140);
    border: 90px 2px 90px 2px;
    border: solid green;
    height: 50vh;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180,180,180);
    height: 8em;
    padding: 1em 12em 1em 12em;
}





/*animated scroll arrow*/

.arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
}
.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
    margin: -1em;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-60px, -60px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

