header {
    background-color: var(--color-black);
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: groove 5px rgb(80, 80, 80, 0.2);
}

header a {
    text-decoration: none;
    color: white;
}

.logo-and-name {
    display: flex;
    justify-content: space-between;
}

.header-name {
    display: flex;
    padding: 0 0 0 18px;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
}
    .header-name:hover {
        transform: scale(1.1);
        transition-duration: 0.15s;
    }

.header-logo {
}

.header-logo img {
    height: 54px;
}

.hamburger-menu img {
    height: 50px;
}

.header-list {
    display: flex;
    margin: 0;
}

ul li {
    display: flex;
    padding: 16px;
    justify-content: center;
    font-size: 1.1em;
}

    ul li:hover {
        transform: scale(1.1);
        transition-duration: 0.15s;
    }

.hamburger-menu {
    background-color: white;
    cursor: pointer;
    margin-right: 20px;
    border: 1.5px solid var(--color5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .active, .hamburger-menu:hover {
        background-color: #555;
        border-radius: 20%;
    }

.header-list-mobile {
    background-color: var(--color2);
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: fixed;
    top: 74px;
    left: 12vw;
    right: 12vw;
    list-style: none;
    border-left: groove 5px rgb(80, 80, 80, 0.2);
    border-right: groove 5px rgb(80, 80, 80, 0.2);
    border-bottom: groove 5px rgb(80, 80, 80, 0.2);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

@media only screen and (max-width: 790px) {
    header nav {
        display: none;
    }
}

@media only screen and (min-width: 791px) {
    .hamburger-menu, .header-list-mobile {
        display: none;
    }
}
