header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: rgb(40,40,40);
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: groove 5px rgb(80, 80, 80, 0.2);
    z-index: 1;
}

.open header {
    height: 200px;
}

.logo-and-name {
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;

}

#brand-name {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: rgb(248,240,251);
    padding-right: 8px;
}

#brand-name a {
    color: rgb(248,240,251);
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: rgb(248,240,251);
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: rgb(248,240,251);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    font-size: 1.5em;
    text-shadow: 0 0 0.5em black;
}
.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}