.projects-done-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(128,117,255);
    margin-top: -60px; /* negative margin equal to header height */
    padding-top: 60px; /* add padding to compensate for negative margin */
}

.projects-intro {
    border: dashed;
    text-align: center;
    border-width: 0;
    font-size: 5em;
}

.projects-done-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 1em;
    flex: 1;
    padding: 2em;
}

.project-preview {
    border: groove;
    border-width: 0.3em;
    border-color: rgba(160,160,160,0.5);
    margin: 1em;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0.4em;
    background-color: rgb(99, 32, 238);
    height: 700px;
}

.project-img-row {
    border: solid;
    border-color: rgb(128, 128, 128);
    border-width: 0 0 0.1em 0;
    height: 19em;
}

.project-img {
    object-fit: cover;
    height: 19em;
    width: 100%;
    object-position: center;
    background-color: white;
    border-style: groove;
    border-color: rgba(120,120,120,0.5);
}

.project-info-grid {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    color: #F8F0FB;
    font-size: 1.2em;
    position: relative;
    height: contain;
}

.project-info-grid a {
    text-decoration: none;
    color: rgb(202,213,202);
    font-weight: 600;
}

.project-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-time {
    font-size: 1em;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* projects resize based on screen width */

@media (max-width: 700px) {
    .projects-done-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 701px) and (max-width: 1399px) {
    .projects-done-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .projects-done-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
