.projects-done-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(128,117,255);
    margin-top: -60px; /* negative margin equal to header height */
    padding-top: 60px; /* add padding to compensate for negative margin */
}

.projects-intro {
    border: dashed;
    text-align: center;
    border-width: 0;
    font-size: 5em;
}

.projects-done-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 1em;
    flex: 1;
    padding: 2em;
}

.project-preview {
    border: groove;
    border-width: 0.3em;
    border-color: rgba(160,160,160,0.5);
    margin: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    background-color: rgb(99, 32, 238);
    overflow: auto; /* or visible */
    white-space: normal; /* or nowrap */
}

.project-img-row {
    border: solid;
    border-color: rgb(128, 128, 128);
    border-width: 0 0 0.1em 0;
    height: 19em;
}

.project-img {
    object-fit: cover;
    height: 19em;
    width: 100%;
    object-position: center;
    background-color: white;
    border-style: groove;
    border-color: rgba(120,120,120,0.5);
}

.project-info-grid a {
    text-decoration: none;
    color: rgb(202,213,202);
    font-weight: 600;
}

.project-info-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    color: white;
}

.project-title {
    margin: 2px;
    font-weight: 600;
    font-size: 1.5em;
}

.project-description {
    text-align: start;
    margin: 12px;
    font-size: 1.1em;
}

.project-time {
    margin-top:auto;
}



/* projects resize based on screen width */

@media (max-width: 700px) {
    .projects-done-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 701px) and (max-width: 1399px) {
    .projects-done-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .projects-done-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
